@page "/skate/{slug}/{id}"
@model ThrashShop.Pages.Details


<h2 class="my-3">@Model.Skate.Nome</h2>

<div class="row">
    
    <div class="col-4">
        <img class="img-fluid rounded" src="@Model.Skate.ImagemUri" alt="Imagem de um skate">
    </div>
    
    <div class="col-6">
        <h4 class="my-3">Sobre:</h4>
        <p>@Model.Skate.Descricao</p>
        <h4 class="my-3">Mais Informações:</h4>
        <ul>
            <li><label asp-for="Skate.Preco"></label>: @Html.DisplayFor(model => model.Skate.Preco)</li>
            <li><label asp-for="Skate.EntregaExpressa"></label>: @Model.Skate.EntregaExpressaFormatada</li>
            <li><label asp-for="Skate.DataCadastro"></label>: @Html.DisplayFor(model => model.Skate.DataCadastro)</li>
            @if (Model.Marca is not null)
            {
                <li><label asp-for="Marca.Nome"></label>: @Html.DisplayFor(model => model.Marca.Nome)</li>
            }
        </ul>
        <a class="btn my-3" style="background-color: #BD76FE"
           asp-page="Editar"
           asp-route-id="@Model.Skate.SkateId">Editar</a>
    </div>
    
</div>